
#filter
{
	display: none;
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: #CCA;
	z-index:10;
	opacity:0.5;
	filter: alpha(opacity=50);
}


#box 
{
	display: none;
	position: absolute;
	top: 20%;
	left: 20%;
	width: 400px;
	height: 200px;
	padding: 48px;
	margin:0;
	border: 1px solid black;
	background-color: white;
	z-index:101;
	overflow: none;
}

#boxtitle
{
	position:absolute;
	float:center;
	top:0;
	left:0;
	width:496px;
	height:24px;
	padding:0;
	padding-top:4px;
	left-padding:8px;
	margin:0;
	border-bottom:4px solid #3CF;
	background-color: #09c;
	color:white;
	text-align:center;
}


