target/
**/target/
nbactions*.xml
**/nbactions*.xml
nb-configuration*.xml
**/nb-configuration*.xml
.settings
.project
.classpath
.Rhistory
52n-wps-webapp/logs/52n-wps.log
52n-wps-webapp/src/main/webapp/META-INF/context.xml
52n-wps-webapp/logs/
