<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
						http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
						http://www.springframework.org/schema/context
						http://www.springframework.org/schema/context/spring-context-3.2.xsd
						http://www.springframework.org/schema/mvc
						http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd">

	<context:component-scan base-package="org.n52.wps.webapp.web" />
	<mvc:annotation-driven />
	<mvc:resources mapping="/resources/**" location="/resources/" />
	<mvc:resources mapping="/testData/**" location="/testData/" />
	<mvc:view-controller path="/" view-name="index" />

	<bean id="webProcessingServiceController" class="org.n52.wps.server.WebProcessingServiceController" init-method="init" destroy-method="destroy"/>
	
<!-- 	<bean id="jdbcConfigurationDao" class="org.n52.wps.webapp.dao.JdbcConfigurationDAO" init-method="init"/> -->

	<!-- Apache Tiles 3 -->
	<bean class="org.springframework.web.servlet.view.UrlBasedViewResolver">
		<property name="viewClass" value="org.springframework.web.servlet.view.tiles3.TilesView" />
	</bean>

	<bean id="tilesConfigurer" class="org.springframework.web.servlet.view.tiles3.TilesConfigurer">
		<property name="definitions">
			<value>/WEB-INF/tiles.xml</value>
		</property>
	</bean>
	<!-- End of Apache Tiles 3 -->

	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="maxUploadSize" value="1000000" />
	</bean>
</beans>
