<?xml version="1.0" encoding="UTF-8"?>

<!-- For assistance related to logback-translator or configuration -->
<!-- files in general, please contact the logback user mailing list -->
<!-- at http://www.qos.ch/mailman/listinfo/logback-user -->
<!-- -->
<!-- For professional support please see -->
<!-- http://www.qos.ch/shop/products/professionalSupport -->
<!-- -->
<configuration>
	<appender name="wpsconsole" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{ISO8601} [%t] %-5p %c: %m%n</pattern>
		</encoder>
	</appender>

	<logger name="org.n52.wps" level="INFO" />
	<logger name="org.n52.wps.webapp" level="DEBUG" />
	<logger name="org.n52.wps.server.WebProcessingService" level="DEBUG" />
	<logger name="org.n52.wps.server.R" level="DEBUG" />
	<logger name="org.n52.wps.io.datahandler.parser.GeotiffParser" level="DEBUG" />
	<logger name="org.n52.wps.grid" level="INFO" />
	<logger name="org.codehaus.xfire.aegis.type" level="OFF" />
	<logger name="org.apache.commons.digester" level="OFF" />
	<logger name="org.apache.catalina" level="DEBUG" />
	<logger name="org.apache.axis" level="OFF" />
	<logger name="org.apache.axis2" level="OFF" />
	<logger name="org.apache.axiom" level="OFF" />
	<logger name="org.apache.catalina.session" level="OFF" />
	<logger name="org.apache.http.wire" level="ERROR" />
	<logger name="org.apache.http.headers" level="ERROR" />
	<logger name="org.springframework" level="DEBUG" />

	<root level="INFO">
		<appender-ref ref="wpsconsole" />
	</root>
</configuration>
