div.wps-container {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	border: 2px solid #66C5E4;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	display: inline-block;
	padding: 0.2em;
}

div.wps-generic-success {
	background-image:url('../images/Success-64.png');
	width:64px;
	height:64px;
}

div.wps-generic-error {
	background-image:url('../images/Error-64.png');
	width:64px;
	height:64px;
}

div.wps-waiting {
	background-image:url('../images/ajax-loader.gif');
	width:32px;
	height:32px;
}

ul.wps-execute-response-list, ul.wps-capabilities-list {
	list-style-type: none;
	padding: 0;
	margin-top: 0;
}

ul.wps-execute-response-list li, ul.wps-capabilities-list li {
	margin: 0.2em 0;
}

label.wps-item-label {
	font-variant:small-caps;
	margin-right: 0.5em;
	padding: 0.1em;
	background-color: #66C5E4;
	width: 100px;
	display: inline-block;
	border: 1px solid #66C5E4;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

label.wps-input-item-label {
	font-variant:small-caps;
	margin-right: 0.5em;
	padding: 0.1em;
	background-color: #66C5E4;
	display: inline-block;
	border: 1px solid #66C5E4;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

label.wps-extension-item-label {
	font-variant:small-caps;
	margin-right: 0.5em;
	padding: 0.1em;
	background-color: #66C5E4;
	display: inline-block;
	border: 1px solid #66C5E4;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

span.wps-item-value {

}

span.wps-item-error-value {
	color: red;
}

span.wps-item-error-message-value {
	color: red;
	display: block;
    unicode-bidi: embed;
    font-family: monospace;
    white-space: pre;
}

textarea.wps-complex-input-textarea {
	width: 377px;
	height: 17px;
}

button.add-input-copy {
	background-image:url('../images/Plus-16.png');
	width: 20px;
	height: 20px;
}

div.wps-execute-autoUpdate {
	background-image:url('../images/Update-16.png');
	width: 16px;
	height: 16px;
}

div.wps-execute-response-result {
	margin: 0.2em 0;
	padding: 0;
}

p.infotext {
	color: #afafaf;
}

span.wps-metadata-link {
	margin: 0 0.2em 0 0.2em;
}